<header>
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <h1 class="white logo">Comidas</h1>
          <h4 class="white planner">Diet Planner</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <% if user_signed_in? %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</header>
   <div id="main-container" class="container">
      <div class="row">
        <div id="content" class="col-xs-12">
          <div class="row">
          <div class="col-md-12 text-left">
            <h1>Recipes</h1>
            <% if user_signed_in? %>
              <p><%= link_to 'Your Current Plans', plans_path %></p>
            <% end %>

            <%= link_to 'all', '/recipes/?meal_type=all', class: "btn btn-default" %>
            <%= link_to 'breakfast', '/recipes/?meal_type=breakfast', class: "btn btn-default" %>
            <%= link_to 'lunch', '/recipes/?meal_type=lunch', class: "btn btn-default" %>
            <%= link_to 'dinner', '/recipes/?meal_type=dinner', class: "btn btn-default" %>
          </div>
          <% @recipes.each do |recipe| %>
            <div id="content" class="col-md-4">
              <h2 class="food"><%= recipe.name %></h2>
                <img src="<%= recipe.image_url %>" alt="">
                <p class="calories">Calories: <%= recipe.calories %></p>
                <p><a href="/recipes/<%= recipe.id %>" recipe_id="<%= recipe.id %>" class="add">ADD</a></p>
            </div>
          <% end %>
      </div>
    </div>
  </div>
