<section class="hero" id="hero">
  <div class="container">
    <div class="row">

    </div>

    <div class="row">
      <a href="#">Sign Up</a>
    </div>
  </div>
</div>



<div class="row">

  <h1>Recipes</h1>

  <p><%= link_to 'Your Current Plans', plans_path %></p>

  <%= link_to 'all', '/recipes/?meal_type=all' %>
  <%= link_to 'breakfast', '/recipes/?meal_type=breakfast' %>
  <%= link_to 'lunch', '/recipes/?meal_type=lunch' %>
  <%= link_to 'dinner', '/recipes/?meal_type=dinner' %>

</div>

<% @recipes.each do |recipe| %>
<div id="content" class="col-md-4">
  <h2 class="food"><%= recipe.name %></h2>
    <img src="<%= recipe.image_url %>" alt="">
    <p>Calories: <%= recipe.calories %></p>
    <p><%= link_to 'add', recipe %></p>
</div>
  <% end %>

