<h1>Your Meal Plan: </h1>

<% total_calories = 0 %>
<% total_meals = 0 %>

<% @plans.each { |plan| %>
<p><%= plan.recipe.name %></p>
<p>Calories: <%= plan.recipe.calories %></p>
<% total_calories += plan.recipe.calories %>
<% total_meals += 1 %>
<% } %>

<h3>Total Calories: <%= total_calories %></h3>

<h4>Over <%= total_meals %> Meals</h4>

<h2>Average Calories Per Meal: </h2>
  <% if total_meals == 0 %>
      <%= link_to 'Add Recipes', root_path %>
    <% else %>
      <h2><%= total_calories / total_meals %></h2>
  <% end %>

<%= link_to 'View Shopping List', shopping_lists_path %>
<a href="">Print shopping list</a>
